{% from '_icones.html' import icone as ico_bi %}
{% extends "base.html" %}
{% block title %}{{ 'Modifier' if domain else 'Ajouter' }} un domaine - Sentinelle{% endblock %}

{% block content %}
{% from '_formulaire.html' import entete_form %}
{% set titre_form %}{{ 'Modifier' if domain else 'Ajouter' }} un domaine{% endset %}
{% set retour = url_for('domains.detail', id=domain.id) if domain else url_for('domains.list') %}
{{ entete_form(titre_form, retour) }}

{% include 'domains/_form_corps.html' %}
{% endblock %}
