{% extends "base.html" %}
{% from '_quick_add.html' import qa_modal_supplier %}
{% block title %}{{ 'Modifier' if item else 'Ajouter' }} un logiciel - Sentinelle{% endblock %}

{% block content %}
{% from '_formulaire.html' import entete_form %}
{% set titre_form %}{{ 'Modifier le logiciel' if item else 'Ajouter un logiciel' }}{% endset %}
{{ entete_form(titre_form, (url_for('software.detail', id=item.id) if item else url_for('software.list'))) }}

{% set retour = url_for('software.detail', id=item.id) if item else url_for('software.list') %}
{% include 'software/_form_corps.html' %}

{% if current_user.can_edit('suppliers') %}{{ qa_modal_supplier() }}{% endif %}

{% endblock %}

